<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h5>About</h5>
				<ul>
					<li><a href="/about">About us</a></li>
					<li><a href="/team">Our team</a></li>
					<li><a href="/careers">Careers</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h5>Help</h5>
				<ul>
					<li><a href="/faqs">FAQs</a></li>
					<li><a href="/contact">Contact us</a></li>
					<li><a href="/terms">Terms and conditions</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h5>Explore</h5>
				<ul>
					<li><a href="/listings">Homes</a></li>
					<li><a href="/listings">Experiences</a></li>
					<li><a href="/listings">Restaurants</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h5>Follow us</h5>
				<ul>
					<a
						href="https://github.com/saqlainkaleem"
						target="_blank"
						class="social-link"
						><i class="fa-brands fa-github"></i
					></a>
					<a
						href="https://www.linkedin.com/in/saqlainkaleem"
						class="social-link"
						target="_blank"
						><i class="fa-brands fa-linkedin"></i
					></a>
					<a
						href="https://twitter.com/saqlainkaleem"
						class="social-link"
						target="_blank"
						><i class="fab fa-twitter"></i
					></a>

					<a
						href="https://instagram.com/saqlainkaleem"
						class="social-link"
						target="_blank"
						><i class="fab fa-instagram"></i
					></a>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="copyright">
					© 2024 &nbsp;<i class="fa-brands fa-airbnb"></i>&nbsp; Wanderlust,
					Inc.
				</p>
			</div>
		</div>
	</div>
</footer>
