<style>
	.search-btn {
		background-color: #fe424d;
		color: #fff;
		border-radius: 25px;
		padding: 0 1rem 0 1rem;
	}
	.search-btn:hover {
		background-color: #fe424d;
		color: #fff;
	}
	.search-btn i {
		display: inline;
		margin-right: 0.5rem;
	}
	.search-inp {
		border-radius: 25px;
		padding: 0.5rem 2rem 0.5rem 3rem;
	}
	.logo i {
		font-size: 3rem;
	}
	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	/* res */
	.navbar-nav {
		text-align: center; /* Center align text in navbar */
	}
	.navbar-collapse {
		background-color: #fff; /* Background color for collapsed menu */
		text-align: center; /* Center align text in collapsed menu */
	}
	.navbar-nav a {
		color: #fff; /* Text color for links */
		padding: 1rem; /* Padding for menu items */
		display: block; /* Ensure each link takes full width */
	}
	.navbar-nav .nav-link:hover,
	.navbar-nav .nav-link:focus {
		color: #fe424d; /* Hover and focus color */
	}
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand logo" href="/"
			><i class="fa-brands fa-airbnb"></i>&nbsp;<b>wanderlust</b></a
		>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link" href="/listings">Explore</a>
			</div>
			<div class="navbar-nav ms-auto">
				<form class="d-flex" role="search">
					<input
						class="form-control me-2 search-inp"
						type="search"
						placeholder="Search destinations"
					/>
					<button class="btn search-btn" type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>Search
					</button>
				</form>
			</div>
			<div class="navbar-nav ms-auto">
				<a class="nav-link" href="/listings/new">Airbnb your home</a>
				<% if(!currUser) {%>
				<a class="nav-link" href="/signup"><b> Sign up</b></a>
				<a class="nav-link" href="/login"><b> Login</b></a>
				<% } %> <% if(currUser) {%>
				<a class="nav-link" href="/logout" style="color: #fe424d !important"
					><b> logout</b></a
				><% } %>
			</div>
		</div>
	</div>
</nav>
