<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
	<div class="col-8 offset-2">
		<h3>Create a new listing</h3>
		<form action="/listings" method="post" class="needs-validation" novalidate>
			<div class="mb-3">
				<label for="title" class="form-label">Title</label>
				<input
					type="text"
					name="listing[title]"
					placeholder="Add a catchy title"
					class="form-control"
					required
				/>
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Description</label>
				<textarea
					name="listing[description]"
					placeholder="Add description"
					class="form-control"
					required
				></textarea>
			</div>
			<div class="mb-3">
				<label for="image" class="form-label">Image Link</label>
				<input
					type="text"
					name="listing[image]"
					placeholder="Add image URL/Link"
					class="form-control"
				/>
			</div>
			<div class="row">
				<div class="mb-3 col-md-4">
					<label for="price" class="form-label">Price</label>
					<input
						type="number"
						name="listing[price]"
						placeholder="price e.g. 1500"
						class="form-control"
						required
					/>
				</div>
				<div class="mb-3 col-md-8">
					<label for="country" class="form-label">Country</label>
					<input
						type="text"
						name="listing[country]"
						placeholder="Country e.g. India"
						class="form-control"
						required
					/>
				</div>
			</div>

			<div class="mb-3">
				<label for="location" class="form-label">Location</label>
				<input
					type="text"
					name="listing[location]"
					placeholder="Location e.g. Lucknow, Uttar Pradesh"
					class="form-control"
					required
				/>
			</div>

			<button class="btn btn-dark add-btn">Add Listing</button>
			<br /><br />
		</form>
	</div>
</div>
