<style>
	.container {
		padding: 40px 0;
	}

	.card {
		padding: 10px;
		margin-bottom: 20px;
	}
</style>
<% layout("/layouts/boilerplate") %>
<!-- views/aboutus.ejs -->

<div class="container">
	<h1 class="mb-4">About Us</h1>

	<div class="card">
		<div class="card-body">
			<h2>Our Mission</h2>
			<p>
				At Wanderlust Homes, our mission is to connect travelers with unique and
				inspiring accommodations around the globe. We believe in fostering
				meaningful experiences that go beyond mere stays, allowing our guests to
				immerse themselves in diverse cultures and communities.
			</p>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<h2>Our Team</h2>
			<p>
				Meet our passionate team of travel enthusiasts who work tirelessly to
				curate exceptional stays and ensure memorable journeys for every
				wanderer. From customer support to property management, each member of
				our team is dedicated to making your travel dreams a reality.
			</p>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<h2>Contact Us</h2>
			<p>
				Have questions or feedback? We'd love to hear from you! Reach out to us
				at <strong>info@wanderlusthomes.com</strong> or visit our
				<a href="/" style="text-decoration: none">home page</a> to explore our
				latest listings.
			</p>
		</div>
	</div>
</div>
